<html xmlns:th="http://www.thymeleaf.org">
	
	<body>
		<h1>Produkts no JAVA!</h1>
		<table>
		<tr>
		<td th:text="${package.id}" style="border: 1px solid black;"></td>
		<td th:text="${package.title}" style="border: 1px solid black;"></td>
		<td th:text="${package.description}" style="border: 1px solid black;"></td>
		<td th:text="${package.price}" style="border: 1px solid black;"></td>
		<td th:text="${package.quantity}" style="border: 1px solid black;"></td>
		<td th:text="${package.productType}" style="border: 1px solid black;"></td>
		</tr>
		</table>
	</body>
</html>